{
  "plugins": [
    ["@babel/transform-template-literals", { "loose": true }],
    "@babel/transform-literals",
    "@babel/transform-function-name",
    "@babel/transform-arrow-functions",
    "@babel/transform-block-scoped-functions",
    ["@babel/transform-classes", { "loose": true }],
    "@babel/transform-object-super",
    "@babel/transform-shorthand-properties",
    ["@babel/transform-computed-properties", { "loose": true }],
    ["@babel/transform-for-of", { "loose": true }],
    "@babel/transform-sticky-regex",
    "@babel/transform-unicode-regex",
    ["@babel/transform-spread", { "loose": true }],
    "@babel/transform-parameters",
    ["@babel/transform-destructuring", { "loose": true }],
    "@babel/transform-block-scoping",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "commonjs": {
      "plugins": [["@babel/transform-modules-commonjs", { "loose": true }]]
    }
  }
}
